@charset "UTF-8";

:root {
    --cor0: #EDBE64;
    --cor1: #F7B668;
    --cor2: #E09869;
    --cor3: #F78C68;
    --cor4: #ED7364;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor3);
    padding: 10px;
}

nav {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

nav > a:hover {
    background-color: var(--cor4);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
}

h1 {
    text-align: center;
    color: white;
}

body {
    background-color: var(--cor1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

article {
    background-color: whitesmoke;
    margin: 0px 20px 0px 20px;
}

h2 {
    padding: 15px;
    color: var(--cor4);
    text-align: left;
}

main img {
    border-radius: 40px;
    text-align: center;
}

p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    text-align: justify;
}